<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./MoodFix.css">
  </head>
  <body>
    <div class="title">
      <h1> MoodFix </h1>
      <span id="message"> Moodle helper </span>
    </div>
    <div class="mainContent">
      <div class="contentWrapper">
        <h3> Fix headers </h3>
        <span> Navigate to the modules tab, turn editing on, then <a id="fixHeaderStart" class="start"> click to start </a></span>
        <a href="javascript:void(0)" id="devtest"> devtest </a> 
        <script src="./MoodFix.js"></script>
    </div>
    </div>
    <div class="footer">
      <span> Izzy MG </span>
      <span> | Ensure your Moodle editor is set to Atto </span>
    </div>
  </body>
</html>