<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./MoodFix.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="title">
      <h1> MoodFix </h1>
      <p id="message"> Moodle helper </p>
    </div>
    <div class="mainContent">
      <div class="contentWrapper">
        <h2> Fix header </h2>
        <p class="smalltext"> Adds the header1 div and icon to the module's first sentence </p>
        <p> Navigate to the module and turn editing on.</p>
        <button id="fixHeaderStart"> Fix header </button></p>
      </div>
      <div class="contentWrapper">
        <h2> Add D4LS tag </h2>
        <p class="smalltext"></p>
        <p> Make sure you are in a category before choosing the second option </p>
        <button id="d4lsTagStart"> To course </button></p>
        <button id="massD4lsStart"> To all courses in category </button></p>
      </div>
    </div>
    <div class="footer">
      <span> Izzy MG </span>
      <span> | Ensure your Moodle editor is set to Atto </span>
    </div>
    <script src="./MoodFix.js"></script>
  </body>
</html>