<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./MoodFix.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <div class="title">
      <h1> MoodFix </h1>
      <p id="message"> Moodle helper </p>
    </div>
    <div class="mainContent">
      <div class="contentWrapper">
        <i class="material-icons-outlined">credit_card</i>
        <h2> Add header </h2>
        <p class="smalltext"> Adds the header1 div based on the <b>sections's title</b> to the sections's first line </p>
        <p> Navigate to the module and turn editing on.</p>
        <button id="addHeaderStart"> Add header </button></p>
        <button id="addHeaderChildStart"> Add header and make section child of previous section </button></p>
      </div>
      <div class="contentWrapper">
        <i class="material-icons-outlined">label</i>
        <h2> Add D4LS tag </h2>
        <p class="smalltext"></p>
        <p> Make sure you are in a category before choosing "to all courses in category" </p>
        <button id="d4lsTagStart"> To course </button></p>
        <button id="massD4lsStart"> To all courses in category </button></p>
      </div>
      <div class="contentWrapper">
        <i class="material-icons-outlined">low_priority</i>
        <h2> Make section a child </h2>
        <p class="smalltext"></p>
        <p> Makes the opened section a child of the previous </p>
        <button id="makeChildStart"> Make section a child </button></p>
      </div>
    </div>
    <div class="footer">
      <i class="material-icons-outlined">help</i>      
      <span> Izzy MG </span>
      <span> | Ensure your Moodle editor is set to Atto </span>
    </div>
    <script src="./MoodFix.js"></script>
  </body>
</html>